



<main class="h-full pb-16 overflow-y-auto">
    <div class="container px-6 mx-auto grid">
      <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
       Coupons
      </h2>
      <button type="submit" class="btn btn-primary btn-ls btn-block login-button">
        <a
          class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
          href="/admin/addCoupon"
        >
          Add Coupon
        </a>
      </button>
      <!-- TABLE -->
      <!-- men table start -->
      <div class="w-full overflow-hidden rounded-lg shadow-xs mt-2">
        <div class="w-full overflow-x-auto">
          <table id="table" class="w-full whitespace-no-wrap">
            <thead>
              <tr
                class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
              >
                <th class="px-4 py-3">coupon Cod</th>
                <th class="px-4 py-3">cut-Off</th>
                <th class="px-4 py-3">Min Amount</th>
                <th class="px-4 py-3"> Max Amount</th>
                <th class="px-4 py-3">Coupen left</th>
                <th class="px-4 py-3">Expire Date</th>
                <th class="px-4 py-3"></th>
                <th class="px-4 py-3"></th>
                <th class="px-4 py-3"></th>
                 

              </tr>
            </thead>
            <tbody
              class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
            >
              <% for(var i = 0; i < coupons.length; i++) { %>
              <tr class="text-gray-700 dark:text-gray-400">
                <td class="px-4 py-3">
                  <div class="flex items-center text-sm">
                    <!-- Avatar with inset shadow -->
                    <div>
                      <p class="font-semibold"><%= coupons[i].code %></p>
                    </div>
                  </div>
                </td>
                <% if ( coupons[i].couponType =="Percentage") { %>
                 
                    <td class="px-4 py-3 text-sm">%<%= coupons[i].cutOff %></td>

                  <% } else { %>
                    <td class="px-4 py-3 text-sm">RS:<%= coupons[i].cutOff %></td>
                    

                <% } %>
                <td class="px-4 py-3 text-sm"><%= coupons[i]. minCartAmount %></td>
                <td class="px-4 py-3 text-sm"><%= coupons[i].maxRedeemAmount %></td>
                
                <td class="px-4 py-3 text-sm"><%= coupons[i].generateCount %></td>
                <td class="px-4 py-3 text-sm"><%= coupons[i].expireDate.toLocaleDateString() %></td>
                <td class="px-4 py-3 text-sm">
                    
                    <% if ( coupons[i].status=="BLOCK") { %>
                        <td class="px-4 py-3 text-xs">
                          
                          <a href="/admin/couponActive?id=<%= coupons[i]._id %> ">
                          <button >
                          <span
                            class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100"
                          >
                          Activate
                          </span>
                        </button>
                        </a>
                        </td>
                        <% } else{%>
          
                          <td class="px-4 py-3 text-xs">
                          
                            <a href="/admin/couponBlock?id=<%= coupons[i]._id %> ">
                            <button >
                            <span
                              class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100"
                            >
                          Block
                            </span>
                          </button>
                          </a>
                          </td>
        
                        <% } %> 

                </td>
                <td class="px-4 py-3">
                  <div class="flex items-center space-x-4 text-sm">       
                       <a  onclick="deleteCoupon( '<%= coupons[i]._id %>')" >
                     <button
                      class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                      aria-label="Delete" 
  
                    >
                      <svg
                        class="w-5 h-5"
                        aria-hidden="true"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                          clip-rule="evenodd"
                        ></path>
                      </svg>
                    </button> 
                  </a>
                  
                  </div>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        
      </div>
      <!-- men table end -->
    </div>
  </main>


  <script>
  function deleteCoupon(id){
    console.log(id);
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
      if (result.isConfirmed) {
        axios.delete(`/admin/coupon?id=${id}`)
        .then((result)=>{
          if(result.data){
            Swal.fire(
               'Deleted!',
                'Your file has been deleted.',
                'success'
            ).then(()=>{
                location.reload()
            })
          }else{
            alert('wrong!')
          }
        })
      }
    })
  }
  </script>
  <script>
    $(document).ready(function () {
        $('#table').DataTable();
    });
    </script>
