<%- include('../admin/partials/adminheader.ejs') %>

<div class="container-fluid pt-2 px-4">
  <div class="row g-4">
    <div class="col-2"></div>
    <div class="col-sm-12 col-xl-6">
      <div class="bg-secondary rounded h-100 p-4">
        <h2>Order details</h2>

        <div class="min-w-0 p-4 text-gray-400 rounded-lg shadow-xs">
          <h4 class="mb-4 font-semibold text-gray-400">Order Details</h4>

          <p class="text-gray-600">
            Order Number :
            <span class="font-semibold" id="order_number"><%= order.id %></span
            ><br />
            Date:
            <span class="font-semibold" id="order_date"
              ><%= order.updatedAt.toLocaleDateString() %></span
            ><br />
            Payment Staus :
            <span class="font-semibold" id="order_amount"
              ><%= order.paymentStatus %></span
            ><br />
            <% if (order.couponDiscount >0) { %> Coupon Discount :
            <span class="font-semibold" id="order_amount"
              ><%= order.couponDiscount %></span
            ><br />
            <% } %> Amount:
            <span class="font-semibold" id="order_amount"
              ><%= order.total %></span
            ><br />
          </p>
        </div>
        <div class="min-w-0 p-4 text-gray-400 rounded-lg shadow-xs">
          <h4 class="mb-4 font-semibold text-gray-600">Shipping Address</h4>
          <p class="text-gray-600 dark:text-gray-400">
            Address Name:
            <span class="font-semibold" id="add_home"
              ><%= order.address.fName %> </span
            ><br />
            City:
            <span class="font-semibold" id="add_city"
              ><%= order.address.city %> </span
            ><br />
            Address Line:
            <span class="font-semibold" id="add_district"
              ><%= order.address.addressLine %> </span
            ><br />
            State:
            <span class="font-semibold" id="add_state"
              ><%= order.address.state %> </span
            ><br />
            Country:
            <span class="font-semibold" id="add_state"
              ><%= order.address.country %> </span
            ><br />
            Pincode:
            <span class="font-semibold" id="add_pin"
              ><%= order.address.pincode %> </span
            ><br />
          </p>
        </div>

        <h6 class="mb-4">Product Details</h6>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">product Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <% for( let i = 0; i < order.products.length; i++ ) { %>
            <tr>
              <th scope="row"><%= i+1 %></th>
              <td><%= order.products[i].product.name %></td>
              <td>x <%= order.products[i].quantity %></td>
              <td>₹ :<%= order.products[i].totalPrice %></td>
            </tr>
            <%} %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
