<%- include('../admin/partials/adminheader.ejs') %>
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-2"></div>
    <div class="col-10">
      <div class="bg-secondary rounded h-100 p-4">
        <h3 class="mb-4">Orders</h3>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Client</th>
                <th scope="col">Payment Method</th>
                <th scope="col">Amount</th>
                <th scope="col">Order Status</th>
                <th scope="col">Date</th>
                <th scope="col">Details</th>
              </tr>
            </thead>

            <tbody>
              <% for( let i = 0; i < order.length; i++ ) { %>
              <tr>
                <th scope="row"><%= i+1 %></th>
                <th scope="row">
                  <div class="flex items-center text-sm">
                    <p><%= order[i].userId.name %></p>
                  </div>
                </th>
                <th scope="row"><%= order[i].paymentMethod %></th>
                <th scope="row">₹ <%= order[i].total %></th>
                <th scope="row">
                  <% if (order[i].orderStatus !=
                  "Cancelled"&&order[i].orderStatus !=
                  "Returnd"&&order[i].orderStatus != "Delivered" ) { %>
                  <button
                    class="btn btn-outline-info rounded-pill"
                    type="button"
                    id="changetrack"
                    onclick="orderStatus('<%= order[i]._id %>','<%= i %>')"
                  >
                    Update
                  </button>
                  <br>
                  <select class="mt-2" name="track" id="track<%= i %>">
                    <option value="<%= order[i].orderStatus %>" selected>
                      <%= order[i].orderStatus %>
                    </option>

                    <option value="Cancelled">Cancelled</option>
                    <option value="orderconfirmed">orderconfirmed</option>
                    <option value="Shipped">Shipped</option>
                    <option value="Delivered">Delivered</option>
                    <option value="Out For Delivery">Out For Delivery</option>
                  </select>

                  <% }else if (order[i].orderStatus == "Delivered" ) { %>
                  <span
                    class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100"
                  >
                    <%= order[i].orderStatus %>
                  </span>
                  <% }else{ %>
                  <span
                    class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700"
                  >
                    <%= order[i].orderStatus %>
                  </span>

                  <% } %>
                </th>
                <th scope="row">
                  <%= order[i].updatedAt.toLocaleDateString() %>,<%=
                  order[i].time %>
                </th>
                <th scope="row">
                  <a href="/admin/orderDetails/<%= order[i]._id %>"
                    ><button class="btn btn-outline-success rounded-pill">view</button></a
                  >
                </th>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-1.7.1.min.js"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
  integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<script>
  function orderStatus(e, i) {
    console.log("order status vannu");
    const orderId = e;
    const value = $(`#track${i}`).find(":selected").val();
    console.log(orderId, value);

    $.ajax({
      url: "/admin/orderStatus",
      data: {
        orderId,
        value,
      },
      method: "post",
      success: (response) => {
        if (response.status) {
          const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 1000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener("mouseenter", Swal.stopTimer);
              toast.addEventListener("mouseleave", Swal.resumeTimer);
            },
          });

          Toast.fire({
            icon: "success",
            title: "order statuse has been changed",
          }).then(() => {
            // location.href = "/admin/orders";
            window.location.reload();
          });
        }
      },
    });
  }
</script>

<script>
  $(document).ready(function () {
    $("#table").DataTable();
  });
</script>
