<%- include('../admin/partials/adminheader.ejs') %>

<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-2"></div>
    <div class="col-10">
      <div class="m-n2">
        <a href="/admin/addProducts"
          ><button type="button" class="btn btn-outline-danger m-2">
            Add Product
          </button></a
        >
      </div>
      <br />
      <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Products</h6>
        <div class="table-responsive">
          <div class="table container p-5">
            <table
              id="myTable"
              class="table table-striped table-bordered table-responsive table-hover"
            >
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Brand</th>
                  <th scope="col">Price</th>
                  <th scope="col">Stock</th>
                  <th scope="col">Category</th>
                  <th scope="col">Size</th>
                  <th scope="col">Image</th>
                  <th scope="col">Description</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <% showProducts.forEach((PS,i)=> { %>
                <tr>
                  <td><%= i+1 %></td>

                  <td><%= PS.name %></td>

                  <td><%= PS.brand %></td>

                  <td><%= PS.price %></td>

                  <td><%= PS.stock %></td>

                  <td><%= PS.category.title %></td>

                  <td><%= PS.size %></td>

                  <td>
                    <% for(let z=0;z<PS.productImage.length;z++){ %>

                      <img width="80px" height="100px" src="<%= PS.productImage[z] %>">
                      
                      <% } %>
                  </td>

                  <td><%= PS.description %></td>

                  <td>
                    <a href="/admin/editProduct?id=<%= PS._id %>">
                      <button type="button" class="btn btn-outline-warning m-2">
                        Edit
                      </button></a
                    >

                    <a onclick="deletePro('<%= PS._id %>')">
                      <button type="button" class="btn btn-outline-danger m-2">
                        Delete
                      </button></a
                    >
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Table End -->
</div>

<script>
  function deletePro(id) {
    console.log(id);
    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, delete it!",
    }).then((result) => {
      if (result.isConfirmed) {
        axios.delete(`/admin/deleteProduct?id=${id}`).then((result) => {
          if (result.data) {
            Swal.fire(
              "Deleted!",
              "Your user has been deleted.",
              "success"
            ).then(() => {
              location.reload();
            });
          } else {
            alert("wrong!");
          }
        });
      }
    });
  }
</script>