<%- include('../admin/partials/adminheader.ejs') %>
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-2"></div>
    <div class="col-10">
      <div class="m-n2">
        <a
          ><button
            id="download-button"
            type="button"
            class="btn btn-outline-primary m-2"
          >
            PDF
          </button></a
        >
      </div>
      <br />
      <div class="bg-secondary rounded h-100 p-4">
        <h2 class="mb-4">Daily Report</h2>
        <div class="table-responsive" id="invoice">
          <table id="table" class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Total Order</th>
                <th scope="col">Total Sold</th>
                <th scope="col">Amount</th>
                <th scope="col">Profit</th>
              </tr>
            </thead>
            <tbody>
              <% for(let sales of salesReport) { %>
              <tr>
                <th scope="row">1</th>
                <td>
                  <%=sales._id.day%>/<%=sales._id.month%>/<%=sales._id.year%>
                </td>
                <td><%= sales.count %></td>
                <td><%= sales.products %></td>
                <td>₹ <%= sales.totalPrice %></td>
                <% let profit=Math.round((sales.totalPrice * 30)/100 )%>
                <td>₹ <%= profit %></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
  integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script>
  const button = document.getElementById("download-button");

  function generatePDF() {
    // Choose the element that your content will be rendered to.
    const element = document.getElementById("invoice");
    // Choose the element and save the PDF for your user.
    html2pdf().from(element).save();
  }

  button.addEventListener("click", generatePDF);
</script>
<script>
  $(document).ready(function () {
    $("#table").DataTable();
  });
</script>
